thead{
    background-color: firebrick;
    color: white;
}

p {
  color: gray;
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
  padding-top: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: gray;
}

a:active {
  text-decoration: none;
  color: black;
}

.italic {
  text-decoration: none;
  color: black;
  font-style: italic;
}